<div class="container-fluid">
  <div class="row contact-container">
    <div class="col-md-8 col-md-offset-2 contact-info">
      <div class="row">
        <div class="col-md-8">
          <form class="contact-form" ng-submit="submit(formData)" method="post">
            <h1>Contact</h1>
            <h3>Jared</h3>
            <p class="contact-phone-email">(619) 757-8449<br>Jared@JandSonMarine.com</p>
            <p class="contact-address">8319 Glen Vista Ct.<br>San Diego, CA 92114</p>
            <h1>Have a question?</h1>
            <div class="form-group">
              <label for="name" class="form-label contact-label">Name/Company</label>
              <input type="text" name="name" class="form-control" ng-model="formData.name">
            </div>
            <div class="form-group">
              <label for="phone" class="form-label contact-label">Phone #</label>
              <input type="number" name="phone" class="form-control" ng-model="formData.phone">
            </div>
            <div class="form-group">
              <label for="email" class="form-label contact-label">Email</label>
              <input type="email" name="email" class="form-control" ng-model="formData.email">
            </div>
            <div class="form-group">
              <label for="boat" class="form-label contact-label">Boat</label>
              <input type="text" name="boat" class="form-control" ng-model="formData.boat">
            </div>
            <div class="form-group">
              <label for="message" class="form-label contact-label">Additional Information</label>
              <textarea name="message" rows="8" cols="80" class="form-control" ng-model="formData.message"></textarea>
            </div>
            <button type="submit" class="btn btn-info" name="button">Submit</button>
          </form>
        </div>
        <div class="col-md-4">
          <img src="images/JandSonLogo-contact.png" alt="Logo" class="contact-logo">
        </div>
      </div>
    </div>
  </div>
</div>
