<div class="jumbotron">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
      <li data-target="#home-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/carousel/gate.jpg" class="carousel-img" alt="Marina Gate">
      </div>
      <div class="item">
        <img src="images/carousel/worker.jpg" class="carousel-img" alt="J and Son Worker">
      </div>
      <div class="item">
        <img src="images/carousel/boat.jpg" class="carousel-img" alt="Finished Boat">
      </div>
      <div class="item">
        <img src="images/carousel/working.jpg" class="carousel-img" alt="J and Son workers">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row home-container">
    <h1>Marine Repair &amp; Remodeling</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4" ng-repeat="service in services">
            <div class="serv-home">
              <h2>{{service.name}}</h2>
              <img ng-src="images/{{service.image}}" alt="{{service.name}}">
              <hr>
              <p class="home-short-desc">{{service.shortDesc}}</p>
              <button class="btn btn-primary service-home-btn" type="button"><a class="button-link" href="#/work">Learn More</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="quoteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Need a Quote?</h3>
        <p>We just need some quick details</p>
      </div>
      <form ng-submit="submit(formDataHome)" method="post" role="form">
        <div class="modal-body">
          <div class="form-group">
            <label class="form-title home-form-title">Name / Company</label>
            <input type="text" name="name" ng-model="formDataHome.name" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label class="form-title home-form-title">Email</label>
            <input type="email" name="email" ng-model="formDataHome.email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label class="form-title home-form-title">Boat Type</label>
            <input type="text" name="boat" ng-model="formDataHome.boat" class="form-control" id="boat">
          </div>
          <div class="form-group">
            <label class="form-title home-form-title">Additional Information</label>
            <textarea name="message" ng-model="formDataHome.message" class="form-control" rows="8" cols="80"></textarea>
          </div>
          <button type="submit" ng-disabled="submitButtonDisabled" class="btn btn-primary">Submit</button>
        </div>
        <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $('.carousel').carousel();

  setTimeout(function(){
    $('#quoteModal').modal('show');
  }, 3000);
</script>
